<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Had error when the specFlow section is uncommented: System.Configuration.ConfigurationErrorsException: Unrecognized configuration section specFlow-->
  <!--<specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Specflow.Steps.Object" />
    </stepAssemblies>
  </specFlow>-->
</configuration>